:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
  font-size: 16px;
}

.toolbar-1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #395B64;
  color: white;
  font-weight: 800;
}

.toolbar-1 img {
  margin: 0 16px;
}

.content-1 {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card-1 svg.material-icons path {
  fill: #fff;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card-1 {
  all: unset;
  border-radius: 4px;
  border: 1px solid #FAC213;
  background-color: #F77E21;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  font-size: 16px;
}

.card-container .card-1:not(:last-child) {
  margin-right: 0;
}

.card-1.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card-1:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card-1:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card-1:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card-1.highlight-card {
  background-color: #395B64;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card-1.card.highlight-card span {
  margin-left: 60px;
}

a,
a:visited,
a:hover {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #395B64;
}

.logo-image {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

ul li {
  display: inline-block;
}

ul li:before {
  content: '';
}

.button-scale {
  color: #F66B0E;
  font-weight: 800;
  font-size: 20px;
}

footer {
  margin-top: 80px;
  display: flex;
  align-items: center;
  line-height: 20px;
  font-size: 10px;
}

footer p {
  font-size: 12px;
}

svg#clouds {
  position: fixed;
  bottom: -180px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}


